/*----------------Características Gerais-------------------*/
body {
    background-color: #0F172A;
}

input {
    background-color: #334155;
    color: #788EC2;
    border: none;
    outline-color: #1C90E3;

    font-size: 22px;
    padding-left: 16px;
    margin-right: 15px;
    border-radius: 16px;
    width: 945px;
    height: 64px;
}

input::placeholder {
    color: #788EC2;
    font-size: 22px;
}

.caracterisiticasGeraisPaginas {
    font-family: 'DM Sans';
    align-items: center;
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.botaoSecreto {
    border: none;
    background: none;
    cursor: pointer;
}

.titulo {
    color: #F8FAFC;
    align-items: center;
    place-items: center;


    font-size: 32px;
    line-height: 0px;
}

.imagemLinha {

    margin-top: 20px;
    margin-bottom: 20px;
}

.botoesPadrao {
    background-color: #1C90E3;
    color: #F9FAFB;
    border: none;
    cursor: pointer;


    margin-left: 5px;
    font-size: 16px;
    width: 135px;
    height: 64px;
    border-radius: 8px;
}

/* Overlay que cobre toda a tela */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #334155;
    font-size: 26px;
}

/* Spinner animado */
.spinner {
    border: 8px solid #f3f3f3;
    /* fundo */
    border-top: 8px solid #1C90E3;
    /* cor do spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

/* Animação */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Classe para esconder */
.hidden {
    display: none;
}

/*---------------- Características Página 1 -------------------*/
.imagemPokemon {
    width: 696px;
    height: 391px;
}

/*---------------- Características Página 2 -------------------*/
.quadroSegundaPagina {
    background-color: #334155;
    position: relative;

    border-radius: 16px;
    width: 696px;
    height: 452px;
}

.nomesPokemon {
    background-color: #1C90E3;
    color: #F9FAFB;

    padding: 10px;
    border-radius: 20px;
}

#divPokemonDefault {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    bottom: 100px;
    left: 90px;
}

#divPokemonShiny {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    bottom: 100px;
    right: 90px;
}

.tamanhoImagemPokemon {
    width: 190px;
}

#quadroCaracteristicasPokemon {
    background-color: #0F172A;
    color: #E5E7EB;
    align-items: center;
    position: absolute;
    display: none;
    /* faz a largura acompanhar o conteúdo */

    border-radius: 16px;
    padding: 10px;
    /* espaço interno opcional */
    bottom: 40px;
}

#botaoAparencia {
    background-color: #334155;
    color: #788EC2;
    border: #334155 solid;
    position: absolute;
    cursor: pointer;

    border-top-left-radius: 16px;
    font-size: 16px;
    width: 348px;
    height: 50px;
    left: 0px;
}

#botaoHabilidades {
    background-color: #0F172A;
    color: #788EC2;
    border: #334155 solid;
    position: absolute;
    cursor: pointer;

    border-top-right-radius: 16px;
    font-size: 16px;
    width: 348px;
    height: 50px;
    right: 0px;
}

/*---------------- Características Página 3 -------------------*/
.divPikachuConfuso {
    background-color: #334155;
    color: #E5E7EB;
    place-items: center;

    font-size: 18px;
    width: 696px;
    height: 390px;
    border-radius: 16px;
}

.pikachuConfuso {
    position: relative;

    width: 305px;
    height: 247px;
    top: 82px;
}